<!DOCTYPE html>
<html>
<head>
	<title>Inicio</title>
	<meta charset="utf-8">
	<% include partials/head %>
</head>
<body>

	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
				<h1><span class="fa fa-block"></span>Autenticación</h1>
				<p>Inicia sesión o regístrate</p>
				<a href="/login" class="btn btn-light">
					<span class="fa fa-user"></span> Iniciar Sesión
				</a>
				<a href="/signup" class="btn btn-light">
					<span class="fa fa-user"></span> Registro
				</a>
			</div>
		</div>
	</div>

</body>
</html>